$white: #fff;
$blue-primary: #0072af;
$blue-secondary: #17abdb;
$blue-active-text: #12abdb;
$interaction-primary-bg: #00e6e3;
$interaction-primary-text: #15011d;
$off-black: #272936;
$opaque-black: #00000019;
$opaque-grey: #15011d3f;
$section-bg: #3f284b;
$source-doc-bg: #00000033;
